# Numerical, ML, and plotting
numpy
matplotlib
pandas  # for danlp
torch>=1.8.0
transformers>=4.3.3
danlp
conllu  # for danlp
seqeval
# currently only used for analysis (should maybe be removed)
umap-learn
scikit-learn

# Text handling
pyicu

# Misc
pelutils[ds]>=0.6.5
click>=7.0.0
tqdm
