# Numerical, ML, and plotting
numpy
matplotlib
seqeval
torch>=1.8.0
transformers>=4.3.3
# currently only used for analysis (should maybe be removed)
umap-learn
scikit-learn

# Text handling
pyicu

# Misc
pelutils[ds]>=0.6.6
click>=7.0.0
tqdm
