danlp
gensim
transformers==3.5.1
flair==0.4.5
polyglot
PyICU
pycld2
morfessor
spacy>=3.0.3
torch
pandas
conllu
seqeval
nerda
nltk
progressbar
sklearn
NERDA
srsly
git+https://github.com/KennethEnevoldsen/DaCy
spacy-transformers


pelutils
pexpect
